.mdl-layout.is-small-screen .mdl-layout--large-screen-only
{
	display: block !important;
}
.mdl-layout.is-small-screen .mdl-layout--large-screen-only h3
{
	font-size: 24px !important;
}

/* Normal layout */
.mdl-layout--large-screen-only.mdl-layout__header-row
{
	margin-top: 20px;
	margin-bottom: -10px;
}
/* Mobile layout */
.mdl-layout.is-small-screen .mdl-layout--large-screen-only
{
	margin-top: 0px;
	margin-bottom: 0px;
}

/* Report problem button */
#view-source
{
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  margin-right: 40px;
  margin-bottom: 40px;
  z-index: 900;
}

.mdl-textfield {
	padding: 20px;
}